body {
    background: pink;
    color: black;
    height: 100vh;
    font-family: 'Segoe UI', Georgia, sans-serif;
    font-style: italic;
    line-height: 1;
    box-sizing: border-box;
    text-align: center;
}
